.header{
    width:100%;
    background:#2F343A;
    padding:27px 400px;
    margin:auto;

    .wrapper{
        display:flex;
        &__logs{
            position:relative;
            margin-alight:
        }
    }


}